/* 
In dieses Stylesheet wird jede Veränderung geschrieben, 
welche nicht automatisch beim Export der Rätseldatei generiert wird.
*/
html{
	width:220px;
}

body{
	width:92%;
}

#CrosswordCompilerPuz div > p  span{
	line-height:0.5!important;
}

.Clues {
	position:absolute;
	top:265px;
	border:1px solid sliver;
	width:100%!important;
	margin-left:0!important;
	z-index:1;
}

.Clues center ~ div:last-child{
	height:30px!important;
	border-top:1px solid silver!important;
	padding-top:5px!important;
}

.Clues div {
	background-color:#f7f7f7;
	width:183px!important;
	padding-bottom:15px!important;
}

.ClueList{
	height: auto!important;
}

#CrosswordCompilerPuz{
	width:100%!important;
	height:480px!important;
}

#CrosswordCompilerPuz style ~ div:last-child{
	top:470px!important;
	left:22px;
}

